/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scaling {

  to {
    transform: scale(1.25);
  }
}

@keyframes sparkling {

  to {
    fill: var(--fill-color);
  }
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-color: var(--main-color);
  z-index: 0;
  block-size: 100%;
  inline-size: 0%;
  transition: inline-size 0.5s ease-in-out;
}

.card__like-button:is(:hover)::after {
  background-color: var(--main-color);
  inline-size: 100%;
  transition: inline-size 0.5s ease-in-out;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: solid 2px var(--main-color);
  transition: border 0.3s ease;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:is(:hover) .core {
  fill: var(--main-color);
  transition: fill 0.3s ease-in;
}

.like-icon:is(:hover) .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s ease-in;
}

.contour {
  fill: var(--main-color);
  transition: fill 0.1s ease-in;
}

.like-icon:is(:active) .core {
  fill: var(--fill-color);
  transition: fill 0.3s ease-in;
}

.like-icon:is(:active) .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s ease-in;
}

.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition: fill 0.3s ease-in;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s ease-in;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s 0.06s ease-in;
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparkling 0.3s ease-in;
}

.button-save-memory:focus {
  outline: none;
}

.button-save-memory:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.button-save-memory::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-color: var(--main-color);
  z-index: 0;
  block-size: 100%;
  inline-size: 0%;
  transition: inline-size 0.5s ease-in-out;
}

.button-save-memory:is(:hover)::after {
  background-color: var(--main-color);
  inline-size: 100%;
  transition: inline-size 0.5s ease-in-out;
}

.ok-button::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-color: var(--main-color);
  z-index: 0;
  block-size: 100%;
  inline-size: 0%;
  transition: inline-size 0.5s ease-in-out;
}

.ok-button:is(:hover)::after {
  background-color: var(--main-color);
  inline-size: 100%;
  transition: inline-size 0.5s ease-in-out;
}
