/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  margin: auto;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-text-weight);
  font-size: 18px;
  background-image: var(--main-background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header-logo {
  font-family: var(--accent-font), fantasy;
  font-size: var(--header-font-size);
  margin-bottom: 20px;
}

.header-title {
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  font-size: var(--subheader-font-size);
}

.container-width {
  inline-size: var(--main-width-size);
}

.header-container {
  display: flex;
  inline-size: var(--main-width-size);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  border: solid 2px var(--main-color);
  height: clamp(20.438rem, 14.604rem + 13.993vw, 23rem);
  background-color: var(--background-color);
}

.main__article {
  display: flex;
  flex-direction: column;
  border: solid 2px var(--main-color);
  margin: 0 auto 50px;
  background-color: var(--background-color);
}

.article-photo-wrapper {
  position: relative;
}

.article-photo-label {
  position: absolute;
  right: 25px;
  top: 25px;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--text-outline-color),
    0 1px var(--text-outline-color),
    1px 0 var(--text-outline-color),
    0 -1px var(--text-outline-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-outline-color)) or
    (-webkit-text-stroke: 1px var(--text-outline-color))
) {

  .article-photo-label {
    -webkit-text-stroke: 1px var(--text-outline-color);
    text-stroke: 1px var(--text-outline-color);
    text-shadow: none;
  }
}

.article-header {
  font-variation-settings: 'wght' var(--header-text-weight);
  font-size: 18px;
  padding: 4px 10px;
  border-bottom: solid 2px var(--main-color);
}

.article-text-container {
  display: flex;
  flex-direction: column;
  line-height: 21px;
  gap: 25px;
  padding: 27px 25px;
  border-top: solid 2px var(--main-color);
}

.article-photo {
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  inline-size: calc(var(--main-width-size) - 4px);
}

.picture-saturate-filter {
  filter: saturate(130%);
}

.picture-invert-filter {
  filter: invert(0.8);
}

.picture-contrast-filter {
  filter: contrast(150%);
}

.picture-saturate-contrast-blur-filter {
  filter: saturate(180%) contrast(130%) blur(0.1rem);
}

.picture-contrast-grayscale-filter {
  filter: contrast(150%) grayscale(0.7);
}

.picture-hue-rotate-filter {
  filter: hue-rotate(-90deg);
}

.picture-sepia-filter {
  filter: sepia(60%);
}

.picture-contrast-saturate-filter {
  filter: contrast(130%) saturate(140%);
}

.buttons-area {
  display: flex;
  align-self: flex-end;
  align-items: center;
  min-block-size: 38px;
  margin: 0 25px 25px;
}

.card__like-button {
  position: relative;
  min-inline-size: 130px;
  border: solid 2px var(--main-color);
  box-shadow: none;
  font-family: var(--accent-font), fantasy;
  block-size: 38px;
  padding: 0;
  background-color: var(--background-color);
  transition-duration: 0.3s ease;
  transition-property: box-shadow;
  font-size: 14px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--background-color);
  mix-blend-mode: difference;
}

.card__icon-button {
  background-color: var(--background-color);
  padding: 1px 0;
  margin: 0 3px;
  border: solid 2px transparent;
  block-size: 38px;
}

.button-save {
  display: flex;
  justify-content: center;
  margin: 0 auto 105px;
  align-items: center;
  min-block-size: 51px;
}

.button-save-memory {
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 8px;
  justify-content: space-between;
  min-inline-size: 339px;
  margin: 0;
  padding: 10px 20px;
  border: solid 2px var(--main-color);
  box-shadow: none;
  block-size: 55px;
  background-color: var(--background-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 21px;
}

.floppy-icon {
  width: 21px;
  height: 21px;
  color: var(--background-color);
  z-index: 1;
  mix-blend-mode: difference;
}

#save-dialog {
  inline-size: 352px;
  padding: 0;
}

dialog[open] #save-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog__floppy-icon {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
  margin: 30px 28px 26px;
}

.floppy-icon-big {
  display: inline-block;
  min-width: 39px;
  height: 39px;
}

.dialog__text {
  display: inline;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
  font-family: var(--accent-font), fantasy;
  color: var(--background-color);
  z-index: 1;
  mix-blend-mode: difference;
}

.ok-button {
  position: relative;
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy;
  inline-size: 289px;
  align-self: center;
  border: solid 2px var(--main-color);
  block-size: 38px;
  margin: 0 auto 30.5px;
  font-size: 14px;
  background-color: var(--background-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {

  .page,
  .container-width,
  .header-container,
  .button-save {
    min-inline-size: 320px;
    inline-size: var(--main-width-size);
  }

  .article-photo,
  .article-photo-wrapper,
  .article-text-container,
  .article-header {
    min-inline-size: 316px;
    inline-size: calc(var(--main-width-size) - 4px);
  }

  .page {
    margin: 0;
    overflow-x: scroll;
  }

  .main__article {
    margin: 0 0 50px;
  }

  .button-save-memory {
    flex-direction: column;
    justify-content: space-between;
    block-size: 84px;
    min-inline-size: 310px;
    line-height: 18px;
    margin: 0;
    padding: 15px;
  }

  .article-header {
    padding: 5px 10px;
  }

  .article-text-container {
    line-height: 21px;
    font-size: 18px;
    padding: 25px 29px 25px 25px;
    gap: 27px;
  }

  .card__icon-button {
    margin: 0 4px;
  }

  #save-dialog {
    inline-size: 341px;
    min-inline-size: 341px;
  }

  .dialog__floppy-icon {
    margin: 30px 0;
    column-gap: 16px;
  }

  .dialog-container {
    margin: 0 40px;
  }

  .button-save {
    margin: 0 auto 100px;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .ok-button {
    inline-size: 257px;
    padding: 0;
    border: solid 2px var(--main-color);
    font-size: 14px;
    line-height: 0.9;
  }

  dialog[open] #save-dialog {
    display: flex;
    flex-direction: column;
  }
}
