/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --main-text-weight: 400;
  --header-text-weight: 700;
  --header-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --subheader-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --main-width-size: calc(
    clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem) + 4px
  );
  --background-color: #fff;
  --text-outline-color: #fff;
}
